<!DOCTYPE html>
<html lang="fr">

<body>
<header>
    <nav>
        <div><a href="{{ url_for('home') }}">Accueil</a></div>
        <div><a href="{{ url_for('article') }}">Articles</a></div>
        <div><a href="{{ url_for('inscription') }}">Inscription</a></div>
        <div><a href="{{ url_for('connexion') }}">Connexion</a></div>
    </nav>
</header>

<section id="content">
    {% block content %}{% endblock %}
</section>
</body>
</html>
