<!DOCTYPE html>
<html>
<head>
</head>
<body>
<header>
    <nav>
        <a href="{{ url_for('home') }}">Accueil</a>
    </nav>
</header>

<section id="content">
    {% block content %}{% endblock %}
</section>
</body>
</html>
