<!DOCTYPE html>
<html>
<head>
</head>
<body>
<header>
    <nav>
        <div><a href="{{ url_for('home') }}">Accueil</a></div>
        <div><a href="{{ url_for('article') }}">Articles</a></div>
    </nav>
</header>

<section id="content">
    {% block content %}{% endblock %}
</section>
</body>
</html>
