{% extends 'header.twig' %}


<form action="/authentifier" method="POST">
  <label for="email">Identifiant :</label>
  <input type="email" id="email" name="email" required>

<label for="password">Mot de passe :</label>
<input type="password" id="password" name="password" pattern="^(?=.*[!@#$%^&*])(?=.{10,})" required>


  <input type="submit" value="Se connecter">
</form>
